*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.card{
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
}

.card-head{
    position: relative;
    width: 100%;
    height: 220px;
    background: url('images.jpg') no-repeat center;
    background-size: cover;
}

.profile-img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.card-body{
    padding: 50px 20px 20px;
}

.name{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.job-title{
    margin-top: -5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.bio{
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.card-item{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-links{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid #eee;
}

.social-links:hover {
    background: #ff0000;
}

.social-link{
    text-align: center;
}

.social-link:hover{
    color: white;
}

.social-links a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #0978df;
    text-decoration: none !important;
}

.current-time{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #0978df;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.current-time:hover {
    background: #ff0000;
}